<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="bg-neutral">
    <nav class="container flex items-center md:py-6">
      <a href="./index.html" class="">
        <img src="./assets/images/logo.svg" alt="conding home" class="hidden md:block h-[42px] object-cover"/>
        <img src="./assets/images/logo2.svg" alt="conding home" class="md:hidden h-[24px] object-cover"/>
      </a>
      <ul class="hidden md:flex items-center ml-auto">
        <li>
          <a href="./index.html" class="hover:text-primary hover:bg-black rounded py-2 px-6">首頁</a>
        </li>
        <li class="mx-6">
          <a href="./course.html" class="hover:text-primary hover:bg-black rounded py-2 px-6">課程</a>
        </li>
        <li>
          <label for="my-modal" class="modal-button hover:text-primary hover:bg-black rounded py-2 px-6 cursor-pointer">登入</label>
          <input type="checkbox" id="my-modal" class="modal-toggle" />
          <div class="modal">
            <div class="relative modal-box bg-neutral">
              <div class="absolute top-4 right-0 modal-action mt-0">
                <label for="my-modal" class="btn">x</label>
              </div>
              <div class="flex">
                <div class="w-4/6 mx-auto">
                  <h2 class="text-blod text-2xl mb-8 text-center">登入</h2>
                  <form action="" class="mb-12">
                    <div>
                      <label for="userName" class="block mb-1">信箱</label>
                      <input id="userName" type="text" class="form-input w-full rounded" placeholder="請輸入信箱" />
                    </div>
                    <div class="mb-6">
                      <label for="userPW" class="block mb-1">密碼</label>
                      <input id="userPW" type="password" class="form-input w-full rounded" placeholder="請輸入密碼" />
                    </div>
                    <input type="submit" value="登入" class="w-full py-2 bg-gradient-to-r from-secondary to-primary rounded-lg text-white cursor-pointer"/>
                  </form>
                  <div class="relative flex justify-center mb-4">
                    <span class="absolute top-3 left-0 w-full h-[1px] bg-white -z-10 block"></span>
                    <p class="bg-neutral px-4 inline-block">其他登入方式</p>
                  </div>
                  <ul class=" ">
                    <li class="py-2">
                      <a href="#" class="relative block text-center py-2 w-full border">
                        <img src="./assets/images/icon_fb.svg" alt="fb" class="h-[24px] absolute top-2 left-5"/>
                        Facebook 登入
                      </a>
                    </li>
                    <li class="py-2">
                      <a href="#" class="relative block text-center py-2 w-full border">
                        <img src="./assets/images/icon_google.svg" alt="google" class="h-[24px] absolute top-2 left-5"/>
                        Google 登入
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="md:hidden dropdown dropdown-end ml-auto">
        <label tabindex="0" class="btn btn-ghost rounded-btn">
          <span class="material-symbols-outlined text-primary">drag_handle</span>
        </label>
        <ul tabindex="0" class="dropdown-content w-52 px-5 mt-2 bg-base-300 rounded-xl">
          <li class="py-2 text-center border-b">
            <a href="./index.html" class="hover:text-primary hover:bg-black rounded py-2 px-6">首頁</a>
          </li>
          <li class="py-2 text-center border-b">
            <a href="./course.html" class="hover:text-primary hover:bg-black rounded py-2 px-6">課程</a>
          </li>
          <li class="py-2 text-center">
            <label for="my-modal" class="modal-button hover:text-primary hover:bg-black rounded py-2 px-6 cursor-pointer">登入</label>
            <input type="checkbox" id="mobile_my-modal" class="modal-toggle" />
          </li>
        </ul>
      </div>

    </nav>
  </header>
  <hr class="h-1 bg-gradient-to-r from-primary to-secondary border-0">
  <main class="">
  </main>
  <%- contents %>

  <footer class="py-6 bg-neutral">
    <p class="text-center text-gray-500">Coding Home © 2022 All Rights Reserved</p>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
  <script type="module" src="./assets/js/all.js"></script>
</body>

</html>
